body {
    color: #fff;
    background-color: #000;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #353535;
    font-size: 3rem;
    border-radius: 4px;
    cursor: pointer;
}